@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&display=swap');

body{
    background-image: url("assets/5.jpg");
    background-size: cover;
    font-family: "Rubik", arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.8;
    margin: 0;
    padding: 0;
}

/* -----------------Side Nav Bar-------------------- */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    background-color: #333;
    z-index: 1;
    padding-top: 50px;
}

.navbar a {
    display: block;
    padding: 20px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 10px;
}

.navbar a:hover {
    background-color: #4b4b4b;
}

.navbar a.active {
    background-color: #555;
}

.navbar i {
    margin-right: 10px;
}
/* -----------------Side Nav Bar-------------------- */


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    box-shadow: 0 0 10px #ccc;
    background-color: #B8AF9E;
}
label {
    display: block;
    margin-bottom: 10px;
}
input[type=text], input[type=password], select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}


/*-----------Footer---------*/
footer {
    background-color: #f8f9fa;
    padding-left: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: black;
}

footer h4 {
    color: #343a40;
    font-size: 1.2rem;
    font-weight: bold;
}

footer p {
    color: #6c757d;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

footer a {
    color: #6c757d;
    font-size: 1.5rem;
    margin-right: 10px;
}

footer a:hover {
    color: #007bff;
}

footer i {
    display: inline-block;
    margin-right: 5px;
}

footer .container {
    max-width: 1200px;
    margin: auto;
}

footer .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .col-md-4 {
    width: 100%;
    max-width: 400px;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    footer .col-md-4 {
        width: calc(33.3333% - 30px);
        margin-bottom: 0;
    }

    footer .col-md-4:first-child {
        margin-left: 0;
    }

    footer .col-md-4:last-child {
        margin-right: 0;
    }
}

.social-icons {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    color: #fff;
    background-color: #1c1c1c;
    transition: all 0.3s ease;
    text-decoration: none;
}

.social-icons a:hover {
    transform: scale(1.1);
}

.social-icons a i {
    font-size: 24px;
}

/*-----------Footer---------*/
